channel2.derekkwok.net:80 local.derekkwok.net:80 {
    proxy / localhost:8081 {
        except /media /static
        transparent
    }
    root /var/www/channel2
    on startup /var/www/channel2/venv/bin/python /var/www/channel2/server/server.py
    timeouts none
}
