{% import 'macros/forms.html' as forms with context %}
{% import 'macros/utils.html' as utils with context %}

{% set url_index = url('index') %}

<div class="header-mobile">
    <a class="header-mobile-logo" href="{{ url_index }}">Channel 2</a>
    <div class="flex-space"></div>
    <button is="google-cast-button" class="google-cast-button"></button>
</div>
<header id="header">
    <a class="header-logo" href="{{ url_index }}">Channel 2</a>
    <div class="flex-space"></div>
    <button is="google-cast-button" class="google-cast-button header-mobile-hidden"></button>
    <span class="header-text">{{ user.email }}</span>
    <a class="header-link" onclick="document.getElementById('logout-form').submit()">Logout</a>
</header>
<form action="{{ url('account:logout') }}" method="post" id="logout-form">
    {{ forms.csrf_input() }}
</form>
<script type="text/javascript">
const header = document.getElementById('header');
const button = document.getElementById('header-mobile-menu-button');
button.addEventListener('click', function() {
    header.classList.toggle('active');
    button.classList.toggle('active');
})
</script>
