<div class="nav-bar">
    <button
        class="nav-bar-menu-button"
        onclick="document.getElementsByClassName('nav')[0].classList.toggle('nav-active')">
        <i class="material-icons">menu</i>
    </button>
</div>
<div class="nav">
    <h1 class="nav-logo">Channel 2</h1>
    <a class="nav-link">
        <i class="material-icons">home</i>
        <span>Home</span>
    </a>
    <h2 class="nav-header">Anime</h2>
    <a class="nav-link">
        <i class="material-icons">star</i>
        <span>Currently Airing</span>
    </a>
    <a class="nav-link">
        <i class="material-icons">list</i>
        <span>List</span>
    </a>
    <a class="nav-link">
        <i class="material-icons">schedule</i>
        <span>Seasons</span>
    </a>
    <a class="nav-link">
        <i class="material-icons">label</i>
        <span>Tags</span>
    </a>
    <h2 class="nav-header">Other</h2>
    <a class="nav-link">
        <i class="material-icons">movie</i>
        <span>Movies</span>
    </a>
    <a class="nav-link">
        <i class="material-icons">tv</i>
        <span>TV Shows</span>
    </a>
    <h2 class="nav-header">Admin</h2>
    <a class="nav-link">
        <i class="material-icons">add_circle</i>
        <span>Add Tag</span>
    </a>
</div>
