{% extends 'web/base.html' %}

{% block content %}
    <h1 class="page-title">Currently Airing</h1>
    <ul class="ti-list">
        {% for tag in tags %}
            <li class="ti-item" style="background-image:url({{ tag.cover_image.url }})">
                <a href="{{ url('tag', args=[tag.pk, tag.slug]) }}" class="ti-link">
                    <div class="ti-info">
                        <span class="ti-link-title">{{ tag.name }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
