{% extends 'web/base.html' %}
{% import 'macros/forms.html' as forms with context %}

{% block content %}
    <div class="tag-page">
        <h1 class="page-title">{{ tag.name }}</h1>
        {% if tag.cover_image %}
            <img src="{{ tag.cover_image.url }}" class="tag-image">
        {% else %}
            <div>No Image</div>
        {% endif %}
        <div class="tag-children">
            {% for ctag in tag_children %}
                <a href="{{ url('tag', args=[ctag.pk, ctag.slug]) }}" class="tag-badge">{{ ctag.name }}</a>
            {% endfor %}
        </div>
        <p class="tag-description">{{ tag.description }}</p>
        <div class="tag-parents">
            {% for ptag in tag_parents %}
                <a href="{{ url('tag', args=[ptag.pk, ptag.slug]) }}">{{ ptag.name }}</a>
            {% endfor %}
        </div>
        <div class="tag-videos">
            {% for video in videos %}
                <div class="tag-video">
                    <a href="{{ video.file.url }}" class="tag-video-link">{{ video.name }}</a>
                    <div class="tag-video-info">
                        <span class="tag-video-info-item">{{ video.file.size | filesizeformat }}</span>
                        <span class="tag-video-info-item">{{ video.created_on | date }}</span>
                        <a href="intent:http://channel2.derekkwok.net{{ video.file.url }}#Intent;package=com.mxtech.videoplayer.pro;end" class="tag-video-info-item">
                            <span class="secondary">MX Player Pro</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
