{% extends 'web/base.html' %}
{% import 'macros/forms.html' as forms with context %}

{% block content %}
    <h1 class="page-title">{{ tag.name }}</h1>
    {% if tag_parents %}
        <ul class="tag-parent-list">
            {% for ptag in tag_parents %}
                <li class="tag-parent">
                    <a href="{{ url('tag', args=[ptag.pk, ptag.slug]) }}" class="tag-parent-link">{{ ptag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if tag_children %}
        <ul class="tag-child-list">
            {% for ctag in tag_children %}
                <li class="tag-child-item">
                    <a href="{{ url('tag', args=[ctag.pk, ctag.slug]) }}" class="tag-child-link">{{ ctag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if 'upload' in request.GET %}
        <form action="" method="post" enctype="multipart/form-data" id="upload-form">
            {{ forms.csrf_input() }}
            <div class="form-field">
                <input type="file" name="files" multiple>
            </div>
            <div class="form-field">
                <button>Upload</button>
            </div>
        </form>
    {% endif %}
    {% if tag.cover_image %}
        <img src="{{ tag.cover_image.url }}" class="tag-cover-image">
    {% endif %}
    {% if tag.description %}
        <p>{{ tag.description }}</p>
    {% endif %}
    {% if videos %}
        <ul class="tag-video-list">
            {% for video in videos %}
                <li>
                    <a href="intent:http://channel2.derekkwok.net{{ video.file.url }}#Intent;package=com.mxtech.videoplayer.pro;end">
                        <i class="material-icons">android</i>
                    </a>
                    <a href="{{ video.file.url }}">{{ video.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
