{% extends 'web/base.html' %}
{% import 'macros/forms.html' as forms with context %}

{% block content %}
    <h1 class="page-title">Add Anime</h1>
    <form id="search-form">
        <div class="form-field">
            <input type="text" placeholder="Title" id="query">
        </div>
        <button>Search Anime</button>
    </form>
    <div id="result-table"></div>
    <form action="" method="post" id="add-form" class="display-none">
        {{ forms.csrf_input() }}
        <input type="text" name="kitsu_id" id="kitsu-id">
    </form>
    <img src="" id="cover-image">
    <template id="template-result-table">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </template>
    <template id="template-result-row">
        <tr>
            <td class="result-title"></td>
            <td class="result-id"></td>
            <td>
                <button class="result-add-button">Add</button>
            </td>
        </tr>
    </template>
{% endblock %}

{% block javascript %}
    <script src="/static/js/tag-create-anime.js"></script>
{% endblock %}
