* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--main-bg);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-primary);
    cursor: pointer;
    text-decoration: none;
}

img {
    max-width: 100%;
}
