* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--main-bg);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-primary);
    cursor: pointer;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.google-cast-button {
    background: transparent;
    border: none;
    outline: none;
    height: var(--nav-bar-height);
    width: var(--nav-bar-height);
}
