@media screen and (max-width: 999px) {
    .nav {
        --nav-bar-width: 300px;

        position: fixed;
        top: var(--nav-bar-height);
        bottom: 0;
        left: calc(-1 * var(--nav-bar-width));

        overflow: auto;
        padding: 24px 36px;
        transform: translate3d(0, 0, 0);
        transition: 300ms ease;
        width: var(--nav-bar-width);
        z-index: 1000;
    }
    .nav-bar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        align-items: center;
        display: flex;
        height: var(--nav-bar-height);
        z-index: 1000;
    }
    .nav-active {
        transform: translate3d(var(--nav-bar-width), 0, 0);
        transition: 300ms ease;
    }
    .content {
        padding: var(--nav-bar-height) 24px;
    }
}

@media screen and (min-width: 1000px) {
    .page {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto;
        grid-template-areas: "nav content"
    }
    .nav {
        grid-area: nav;
        min-height: 100vh;
        overflow: auto;
        padding: 24px 48px;
    }
    .nav-bar {
        display: none;
    }
    .content {
        grid-area: content;
        padding: 24px 48px;
    }
}
