@media screen and (max-width: 999px) {
    .nav {
        position: absolute;
        top: var(--nav-bar-height);
        bottom: 0;
        left: 0;

        transform: translate3d(-300px, 0, 0);
        transition: 300ms ease;
        width: 300px;
        z-index: 1000;
    }
    .nav-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        align-items: center;
        display: flex;
        height: var(--nav-bar-height);
    }
    .nav-active {
        transform: translate3d(0, 0, 0);
        transition: 300ms ease;
    }
}

@media screen and (min-width: 1000px) {
    .page {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto;
        grid-template-areas: "nav content"
    }
    .nav {
        grid-area: nav;
        min-height: 100vh;
    }
    .nav-bar {
        display: none;
    }
    .content {
        grid-area: content;
        padding: 48px;
    }
}
