@media screen and (max-width: 999px) {
    .nav {
        position: fixed;
        top: var(--nav-bar-height);
        bottom: 0;
        left: calc(-1 * var(--nav-bar-small-width));

        overflow: auto;
        padding: 24px;
        transform: translate3d(0, 0, 0);
        transition: 300ms ease;
        width: var(--nav-bar-small-width);
        z-index: 1000;
    }
    .nav-bar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        align-items: center;
        border-top: 2px solid #000;
        display: flex;
        height: calc(var(--nav-bar-height) + 2px);
        z-index: 1000;
    }
    .nav-active {
        transform: translate3d(var(--nav-bar-small-width), 0, 0);
        transition: 300ms ease;
    }
    .content {
        padding: calc(var(--nav-bar-height) + 12px) 24px;
    }
}

@media screen and (min-width: 1000px) {
    .page {
        display: grid;
        grid-template-columns: var(--nav-bar-width) auto;
        grid-template-rows: auto;
        grid-template-areas: "nav content";
    }
    .nav {
        grid-area: nav;
        min-height: 100vh;
        overflow: auto;
        padding: 24px 48px;
        position: fixed;
        width: var(--nav-bar-width);
    }
    .nav-bar {
        display: none;
    }
    .content {
        grid-area: content;
        padding: 24px 48px;
    }
}
