.nav, .nav-bar {
    background-color: var(--sidebar-bg);
}

.nav {
    padding: 24px;
    overflow: auto;
}

.nav-bar-menu-button {
    border: none;
    background: transparent;
    color: var(--text-primary);
    height: 48px;
    outline: none;
    width: 48px;
}

.nav-logo {
    text-align: center;
}

.nav-header {
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 2em;
}

.nav-link {
    align-items: center;
    display: flex;
    height: 48px;
}

.nav-link > .material-icons {
    margin-right: 12px;
}
