table {
    border-collapse: collapse;
    border: var(--table-border);
    margin-top: 24px;
}

td, th {
    border: var(--table-border);
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding: 8px;
    text-align: left;
}
