.tag-parent-list {
    list-style-type: none;
    margin: -12px -4px 12px;
    padding: 0;
}

.tag-parent {
    display: inline-block;
}

.tag-parent-link {
    background-color: #333333;
    border-radius: 3px;
    font-size: 14px;
    display: block;
    margin: 4px;
    padding: 4px 8px;
}

.tag-child-list {
    list-style-type: none;
    padding: 0;
}

.tag-child-item {
    display: block;
}

.tag-child-link {
    display: block;
}

.tag-cover-image {
    float: left;
    margin: 0 24px 24px 0;
    max-height: 270px;
    max-width: 180px;
}

.tag-video-list {
    clear: both;
    display: block;
    list-style-type: none;
    padding: 0;
}

.tag-video-list > li {
    border-top: 1px dashed #333333;
    padding: 12px 0;
}

.tag-video-link {
    display: block;
}

.tag-video-link-mx {
    display: block;
    font-size: 12px;
}
