.page-title {
    grid-area: title;
    margin-bottom: 24px;
}

.tag-image {
    grid-area: image;
    margin-bottom: 24px;
}

.tag-children {
    grid-area: children;
}

.tag-description {
    grid-area: description;
    margin: 0 0 24px;
    max-width: 600px;
}

.tag-parents {
    grid-area: parents;
}

.tag-videos {
    grid-area: videos;
}

.tag-video {
    border-top: 1px dashed #333;
    padding: 12px 0;
}

.tag-video-link {
    display: block;
}

.tag-video-info-item {
    color: var(--text-secondary);
    font-size: 0.8em;
}

.tag-video-info-item:after {
    content: '';
    padding-right: calc(24px * 0.8);
}

.tag-video-info-item:after {
    content: '';
}

.tag-badge {
    background-color: #333;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 8px 8px 0;
    padding: 4px 8px;
}

@media screen and (min-width: 600px) {
    .tag-page {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "title title"
            "image children"
            "image description"
            "parents parents"
            "videos videos";
        grid-column-gap: 24px;
    }
}

@media screen and (max-width: 599px) {
    .tag-page {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "title"
            "children"
            "image"
            "description"
            "parents"
            "videos";
        grid-column-gap: 24px;
    }
    .tag-image {
        display: none;
    }
    .tag-children {
        margin-bottom: 24px;
    }
}

/**
 * Currently airing tag list.
 */
.ti-list {
    list-style-type: none;
    margin: 12px -12px;
    padding: 0;
}

.ti-item {
    display: inline-block;
    padding: 12px;
    width: 240px;
}

.ti-image {
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    .ti-item {
        width: 50%;
        padding: 4px 8px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .ti-item {
        width: 33%;
        padding: 4px 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    .ti-item {
        width: 25%;
        padding: 4px 8px;
    }
}

.ti-link {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.ti-info {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ti-link-title {
    background-color: var(--main-bg);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    opacity: 0.7;
    padding: 12px;
}
