h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
}

h1 {
    font-size: 2em;
    margin: .5em 0;
}

a, p, span {
    font-family: var(--font-family);
    font-size: inherit;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
}

.secondary {
    color: var(--text-secondary);
}

@media screen and (max-width: 599px) {
    .page-title {
        line-height: 1.2;
    }
}
