:root {
    /* typography */
    --font-family: 'Google Sans', sans-serif;
    --font-size: 16px;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --line-height: 1.5;

    /* palette */
    --main-bg: #000;
    --sidebar-bg: #1a1a1a;

    --text-primary: #e6e6e6;
    --text-secondary: #bfbfbf;

    --form-input-bg: #1a1a1a;
    --form-input-border: 1px solid #333333;

    /* grid */
    --nav-bar-height: 50px;
    --nav-bar-width: 300px;
    --nav-bar-small-width: 300px;

    /* table */
    --table-border: 1px solid #333333;
}
