{% extends 'base.html' %}

{% block content %}
    <div class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            <span><a href="/{{ breadcrumb.path }}">{{ breadcrumb.name }}</a></span>
        {% endfor %}
    </div>
    <div class="dir-list">
        {% for d in dirs %}
            <a href="{{ d.url }}" class="dir-item">{{ d.name }}</a>
        {% endfor %}
    </div>
    <div class="file-list">
        {% for f in files %}
            <div class="file-item">
                <a href="{{ f.url }}" title="{{ f.name }}" class="file-link">{{ f.name }}</a>
                <div class="file-data">
                    <span>{{ f.mtime|date }}</span>
                    <span>{{ f.size|filesizeformat }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
