{% extends 'base.html' %}

{% block content %}
    <div class="dir-list">
        {% for d in dirs %}
            <a href="{{ d.url }}" class="dir-item">{{ d.name }}</a>
        {% endfor %}
    </div>
    <div class="file-list">
        {% for f in files %}
            <div class="file-item">
                <a href="{{ f.url }}">
                    <div class="file-preview"></div>
                </a>
                <div>
                    <a href="{{ f.url }}" class="file-link">{{ f.name }}</a>
                    <span class="file-data">{{ f.size|filesizeformat }}</span>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
