@media screen and (min-width: 600px) {
    .tag-page {
        display: grid;
        grid-template-columns: 200px minmax(auto, 800px);
        grid-template-rows: auto auto 1fr auto auto auto;
        grid-template-areas:
            "title title"
            "image children"
            "image description"
            "controls controls"
            "parents parents"
            "videos videos";
        grid-column-gap: 24px;
    }
    .mx-link { display: none; }
}

@media screen and (max-width: 599px) {
    .tag-page {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "title"
            "controls"
            "children"
            "image"
            "description"
            "parents"
            "videos";
        grid-column-gap: 24px;
    }
    .tag-image {
        display: none;
    }
    .tag-controls {
        display: none;
    }
}

.page-title {
    grid-area: title;
    margin-bottom: 24px;
}

.tag-controls {
    grid-area: controls;
    margin-bottom: 24px;
}

.tag-control-button {
    display: inline-block;
    font-size: 0.8em;
    margin-right: 12px;
    padding: 8px 12px;
    width: auto;
}

.tag-image {
    grid-area: image;
    margin-bottom: 24px;
}

.tag-children {
    grid-area: children;
    margin-bottom: 8px;
}

.tag-description {
    grid-area: description;
    margin: 0 0 24px;
}

.tag-parents {
    grid-area: parents;
}

.tag-parent-link {
    border-top: 1px dashed #333;
    display: block;
    padding: 12px 0;
}

.tag-videos {
    grid-area: videos;
}

.tag-video {
    border-top: 1px dashed #333;
    padding: 12px 0;
}

.tag-video-link {
    display: block;
}

.tag-video-link:visited {
    color: var(--text-secondary);
}

.tag-video-info-item {
    color: var(--text-secondary);
    font-size: 0.8em;
}

.tag-video-info-item:after {
    content: '';
    padding-right: calc(24px * 0.8);
}

.tag-video-info-item:after {
    content: '';
}

.tag-badge {
    background-color: #333;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    margin: 0 8px 8px 0;
    padding: 4px 8px;
}
